{% extends "base.html" %}
{% block content %}
<h2>Education and Training</h2>
<p>
Eva Ericsson completed her initial training in Sweden, where she earned her Graduate Degree in Social
work and Public Administration at the University of Gothenburg. Settling in the U.S., she devoted
herself to her clinical practice, and to learning new ways to understand and be helpful.
</p><p>
To that end, she completed the Advanced Clinical Training Program in Marital and Family Therapy at
The Family Institute (part of Northwestern University) and has recently completed the rigorous testing
for Certification from the Gottman Relationship Institute in Seattle, WA. Created by much-lauded
psychological researcher, John Gottman, this advanced approach is hailed as the first research-based
method of couples therapy, offering both insight and proven blueprints for change.
</p><p>
<h4>Problems Addressed</h4>
<ul>
<li>Anxiety</li>
<li>Loneliness</li>
<li>Life transitions</li>
<li>Divorce</li>
<li>Chronic Illness</li>
<li>Post-traumatic stress disorder (PTSD)</li>
</ul>
<h4>Counseling Methods</h4>
<p>
Eva uses a combination of counseling methods, including traditional psychological (“talk”) therapy,
cognitive therapy, and short-term solution-based therapy. Her goal is, always, to find and employ the
most practical and effective ways to alleviate emotional pain, confusion, and depression.
</p>
<h4>Philosophy</h4>
<p>
“Therapy allows me to exercise my natural inclination to help people in pain, using both compassion and
training. I am honored to share my experience, insights and support to help people better understand
the choices they make…and the choices they might make to bring meaningful change to their lives.“
</p>
<h4>Professional Organizations</h4>
<ul>
<li>NASW</li>
<li>ACSW</li>
<li>National Association of Social Workers</li>
<li>Academy of Certified Social Workers</li>
</ul>
<h3>Professional License</h3>
Licensed Clinical Social Worker in the State of Illinois - # 149-003272
<ul>
<li>Depression</li>
<li>Relationship issues</li>
<li>Bereavement</li>
<li>Stress management</li>
<li>Cancer</li>
</ul>
{% endblock %}
