{% extends "base.html" %}
{% block content %}
<h2>Common Questions</h2>
<h4>How do I know if I should get counseling? I was taught to handle my own problems.</h4>
<p>
You do handle your own problems, hundreds of them a day. But sometimes, even well-
adjusted adults realize they aren’t handling some things as well as they’d like to. They may be
overwhelmed because a number of distressing things are happening all at once. Or they may
be frustrated and feeling hopeless in the face of a problem that won’t respond to their
efforts. Or they may be so overstressed they can’t even sort through their options anymore.
(Problems with eating, drinking, or sleeping are often good clues.)
</p><p>
If you can “listen” to your feelings, you will know when you are at wit’s end. Then know that
you are not alone. Come share your concerns in a safe place and get a new perspective on the
situation--as well as some compassionate affirmation that yes, things can get better!
</p><p>
Talking with a therapist can bring immediate feelings of relief and comfort and can, over time,
teach you valuable ways to think about (and deal with) similar problems in the future. After
that, with a therapist you like and respect in your corner, you have a safe place to return
whenever you need some help.
</p>
<h4>How do I choose a therapist?</h4>
<p>
As in other relationships, you have to “click”. Check out a therapist’s website, if they have
one. Call on the phone and make an appointment (hopefully, they can fit you in within a few
days). See if you find the person easy to talk to, if you feel accepted and heard. These are
important foundations for a helpful relationship. If you don’t feel safe, or you think the
therapist isn’t hearing you or doesn’t care, don’t give up. Try again! With the wonderful
variety of human beings on the planet, you can be sure there is a perfect ‘fit” for you.
</p>
<h4>Any other tips?</h4>
<ul>
<li>Be prepared to be truthful. This is one relationship in which “white lies” don’t help. Instead,
they will hinder your progress.</li>
<li>Show up even when you don’t want to keep your appointment—especially if you don’t want
to keep your appointment. Sometimes this feeling is a sign that something big is about to
happen—and you’d hate to miss it. It’s progress.</li>
<li>When you feel stronger and more peaceful, feel free to say good-bye. Your relationship
with your therapist is always there supporting you, and you can always return for more
help, should the need arise. Your therapist will be happy that you’re feeling stronger. He or
she will not be offended.</li>
</ul>
{% endblock %}
