{% extends "base.html" %}
{% block content %}
<h2>Contact Me</h2>
<img src="office.jpg" width="400" height="285.5" alt="My Office"/>
<p>
My office is located at 5757 South Madison Street in Hinsdale, Illinois.  For directions, please click <a target="new" href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=5757+S+Madison+St+Hinsdale+IL+60521&amp;sll=41.784321,-87.935922&amp;sspn=0.007664,0.019312&amp;ie=UTF8&amp;ll=41.786001,-87.935901&amp;spn=0.015328,0.038624&amp;z=15&amp;iwloc=A">here</a>.</p>
<p>
You may reach me at (630) 850-7739.
</p>
<p>
I look forward to talking with you.</p>
{% endblock %}
