{% extends "base.html" %}
{% block content %}
<h2>Eva Ericsson LCSW</h2>
<p>
<center><b><i>Insight to understand.  Courage to change.</i></b></center>
</p><p>
Eva helps individuals and couples in the western suburbs better understand the issues that limit their
potential for happiness, then encourages them to take small, brave steps toward positive change.
</p><p>
Using a variety of approaches to achieve this “better understanding,” Eva also draws on more than 30
years of therapeutic clinical experience. Her advice and guidance is grounded in a realistic view of the
stresses of modern life, as well as a huge reservoir of compassion for her fellow human beings trying to
navigate it successfully.
</p><p>
Eva welcomes adolescents, adults and couples of all races, faiths and sexual orientations.
</p>
{% endblock %}
