{% extends "base.html" %}
{% block content %}
<h2>Insurance</h2>
<p>
Most insurance companies cover the services of a licensed mental health provider, but
deductible, co-pay and annual limit amounts vary, so check with your insurance company in
advance to avoid unpleasant surprises.
</p><p>
Eva is a network provider for Blue Cross/Blue Shield of Illinois.
</p><p>
Eva is also a Medicare provider.
</p><p>
Eva will file your Medicare or BC/BS claims for you.
</p><p>
If you have different insurance, Eva will provide you with the paperwork you need to file
your claim.
</p><p>
Current rate: $130 per one-hour session
</p><p>
Eva is a Licensed Clinical Social Worker in the State of Illinois - # 149-003272
</p>
{% endblock %}
