{% extends "base.html" %}
{% block content %}
<h2>Kind Words</h2>
<p>
“Eva Ericsson has a wonderful therapeutic style. A highly seasoned clinician, she intervenes
thoughtfully, with great sensitivity. Her assessment skills are very sharp, as is her ability to help couples
to identify and work towards important goals. With warmth and compassion, she easily connects with
a wide range of couples from a variety of cultural backgrounds, including those leading alternative
lifestyles. I would not hesitate to recommend her to a relative or a friend.”
</p><p>
Mike McNulty, PhD, LCSW
Psychotherapist in Private Practice
Consultant/Trainer for The Gottman Relationship Institute
</p><p>
“We had a family crisis looming with our teenaged son--one that my husband and I just did not know
how to deal with. Desperate, and not knowing where to turn, we set up an appointment with Eva.
What was so wonderful was she didn’t just dwell on the crisis, only touched on it very briefly. But in her
talking with us in her calming way, and asking us questions, she helped us come to our own realization
on how to handle things. We left much calmer and hopeful and, within the week, the crisis was averted.
I felt a miracle had occurred. “
</p><p>
“Our family experienced more difficulties than most, I think, stemming from a single, very difficult
and oppositional child. Eva understood not only the child but also how this one person stressed out
everyone else in the family. The support we as parents received from Eva kept us sane, which enabled
us to provide our other children with happier childhoods. I will be a fan of Eva’s for life. A very loving and
intelligent person!”
</p>
{% endblock %}
