{% extends "base.html" %}
{% block content %}
<h2><a name="top">Counseling Specialties</a></h2>
<ul class="nobullet"><li>
<a href="#individual">Individual Therapy</a></li><li>
<a href="#adolescent">Adolescent Therapy</a></li><li>
<a href="#couples">Couples (Marital) Therapy</a></li><li>
<a href="#gaylesbian">Gay/Lesbian Couples Therapy</a></li><li>
<a href="#family">Family Therapy</a></li><li>
<a href="#cancer">Cancer Support</a></li>
</ul>
<a class="specialty" name="individual">Individual Therapy</a>
<p>
One doesn’t need to have serious psychological problems to seek counseling.
</p><p>
In fact, most people come to therapy depressed, anxious, upset or “stuck” because life has become
a little too much. Too much stress. Too much change. Too many (ungrateful) people to please. Not
enough time or (perhaps meaning) to make it all worthwhile.
</p><p>
This level of stress takes its toll on all our relationships, including our relationship with our self.
</p><p>
That’s when we need to take a step back, breathe, and talk to somebody to help gain a new perspective
on the situation. When we can safely evaluate our choices so far, we can decide to choose differently in
the future, creating a tomorrow that is more satisfying and compatible with who we truly are.
</p><p>
Therapy is about taking that break and getting new insight into what’s possible for your life.
</p><p class="topLink">
<a href="#top">Back to Top</a>
</p><p>
<a class="specialty" name="adolescent">Adolescent Therapy</a>
</p><p>
The landscape of American adolescence is more competitive than ever, riddled with potential troubles
from academic underachievement, drug (or video game) addiction, depression, and non-compliance
with all things parental.
</p><p>
Still, most young people very much wish to achieve, contribute and belong.
</p><p>
Adolescent therapy can allow teens to reveal their fears and frustrations in a safe environment, and to
learn new ways of seeing—and coping with--the pressures of growing up today.
</p><p class="topLink">
<a class="toplink" href="#top">Back to Top</a>
</p><p>
<a class="specialty" name="couples">Couples Therapy</a>
</p><p>
This most intimate relationship has the greatest potential for joy, for growth, and for pain.
</p><p>
Using all available therapeutic methods, Eva helps bring peace to the current relationship to create an
environment in which hurts can be forgiven, truths can be shared, and plans can be made anew.
</p><p>
Eva’s Gottman Institute training helps bring practical insight in the form of 30 years of marital research
suggesting that there are solutions to marital problems that are proven to work. Learning these
techniques greatly enhances the quality of any couple’s relationship by enabling greater respect,
communication, and compassion.
</p><p class="topLink">
<a href="#top">Back to Top</a>
</p><p>
<a class="specialty" name="gaylesbian">Gay & Lesbian Couples Therapy</a>
</p><p>
Gay and lesbian couples in committed relationships experience the same potential for joy, growth and
pain as heterosexual couples do.
</p><p>
Eva’s training gives her a uniquely-valuable counseling perspective, based on 30 years of Gottman
Relationship Institute Research following couples of all sexual orientations. Understanding the special
challenges of gay and lesbian relationships, she is committed to teaching couples the new, proven
techniques that can help solve problems and heal hurts, restoring intimacy and peace.
</p><p>
Here in a safe, inviting and welcoming environment, Eva offers new possibilities for growing together
and creating a stronger, more loving couple bond.
</p><p class="topLink">
<a href="#top">Back to Top</a>
</p><p>
<a class="specialty" name="family">Family Therapy</a>
</p><p>
Each person has the ability to affect a family’s well-being for better or for worse.
</p><p>
When a teen acts out…when a parent falls ill…when a marriage flounders…reactions ripple throughout
the family and are expressed differently by different family members. The results can be unruly or
downright chaotic.
</p><p>
Recognizing the family’s interconnection, Eva uses Integrated Family System Therapy to help each family
member understand the situation and his or her response to it, setting the stage for a healing “family
reunion” in which the family returns to healthy functioning.
</p><p class="topLink">
<a href="#top">Back to Top</a>
</p><p>
<a class="specialty" name="cancer">Cancer Support</a>
</p><p>
Cancer patients, survivors, families, and caregivers: Eva has a special interest in helping people through
the difficult times (and often, terrors) of those touched by cancer.
</p><p>
Finding the strength and resilience to deal with the “new reality” is not easy for anyone, as cancer
affects far more than a person’s physical well-being. In fact, for many, it is also a major financial,
relationship and spiritual stressor.
</p><p>
Eva’s goal is to empower those involved to “find a way”. A way to quell the fear. A way to maintain
and strengthen supportive relationships. A way to find meaning in the journey. A way to make peace
with “what is.” In short, a way to live as fully as possible right now, despite the diagnosis and the
uncertainty of tomorrow.
</p><p>
Eva welcomes you with compassion and caring for this important and difficult time of life.
</p><p class="topLink">
<a href="#top">Back to Top</a>
</p>
{% endblock %}
