html {
	background-color: rgb(217, 214, 189);
}

body {
	background-color: rgb(245, 244, 243);
	width: 808px;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	font-family: georgia, times, "times new roman", serif;
}

ul {
	padding-left: 20px;
}

ul.nobullet {
	padding-left: 0px;
	list-style-type: none;
}

a.specialty {
	font-weight: bold;
}

p.topLink {
	text-align: right;
}

#nav {
	float: left;
	width: 12em;
	padding-top: 2em;
	padding-right: 1em;
	list-style-type: none;
	padding-left: 1em;
}

#nav li a:hover {
	background-color: rgb(227, 224, 199);
}

#nav a {
	background-color: rgb(217, 214, 189);
	text-decoration: none;
	text-align: center;
	font-weight: normal;
	font-size: 16px;
	color: black;
	display: block;
	margin-top: 1em;
	padding: 1em 1em 1em .5em;
}

#content {
	padding-top: 1em;
	margin: 0 1em 0 15em;
	min-height: 500px;
	_height: 500px;
}

#content h2 { 
	margin-top: 0; 
	text-align: center;
}

#footer {
	padding-top: 50px;
	text-align: center;
	font-size: 0.75em;
}

#copyright {
	font-size: 0.72em;
}
